html{
    font-size:75%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#body{
    background-image:linear-gradient(rgba(0,0,0,05), rgba(0,0,0,0.5)), url(https://media.istockphoto.com/id/2206836726/photo/wide-angle-of-modern-football-stadium-with-glass-roof-bright-stadium-lights-illuminating.jpg?s=1024x1024&w=is&k=20&c=Z6w8r-3Ge0VbbRroOvYdvZaboflWYcMIm2lHG1Ukees=);
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
    height: 50vh;
    color: #ddd;
    font-weight: bold;
}
#heading{
    padding: 10px; 
    color: #f0f8ff;
    border-radius: 30px;
    height: 35px;
    transform: translateY(-6px);
    background-color: #11182700;
}
.moto{
    display: inline-block;
    padding: 10px;
    text-decoration:none;
    border-radius: 36px;
    color: rgb(243, 243, 248);
    align-content: center;
    font-style: oblique;
    align-self: center;
    margin-bottom: 5px;
    font-size: large;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.35);
    border: 1px;
    background-color: #0f3d1e00;
}
.moto1{
    font-size: x-large;
    font-family:Arial, Helvetica, sans-serif;
    color: #97f707;
    font-weight: bolder;
}
.moto2{
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       font-size: x-large;
       color: #f81616;
       font-weight: bolder;
}
.c2{
    display: flex;
    width: 100%;
    overflow-x: auto;
    height:400px;
}
.c3{
    display: flex;
    align-content: flex-start;
    
    
}
.c4{
    display: flex;
    align-content: flex-start;
    
}
.contact{
    display: flex;
    justify-content: center;
}
ul{
    display: inline-block;
}
.cc1{
    color: rgb(126, 12, 12);
}
.head{
    display: flex;
    justify-content: center;
    align-items: center;
}
.head{
    text-align: center;
}
/* @media (max-width: 768px){ */
    .head1{
        display: flex; 
        justify-content: center;
        
    }

h1{
    display: inline-block;
    padding: 12px;
    text-decoration: none;
    background-color: #790808;
    color: #f7c079;
    border-radius: 24px;
    text-align: center;
}
h2{
    background-color: rgb(126, 12, 12);
    color: rgb(233, 201, 159);
    text-align: center;
}
.shop{
     background-color: rgb(126, 12, 12);
    color: rgb(233, 201, 159);
}
article{
    padding: 12px;
    border-radius: 30px;
    color: #f0f8ff;
    margin-right: 3px;
    align-items: stretch;
    flex: 1;
    border-bottom-left-radius: 5px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.35);
    background-color: #0b03531f;
}
.navigation{
     text-align: center;
   }
.card{
    display: inline-block; 
    padding: 10px; 
    color: #fff; 
    text-decoration: none; 
    border-radius: 10px; 
    font-weight: 600;
    font-size: medium;
    transform: translateY(-6px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.35);
}
p{
    text-align: center;
}
footer{
    text-align: center;
    clear: both;
    background: linear-gradient(#0f3d1e, #0b2e16);
}
dt{
    text-align: center;
}
nav{
    text-align: center;
}
form{
    text-align: center;
}
textarea{
    resize: none;
    width: auto;
    height: auto;
}
strong{
    font-style: oblique;
    color: #c9a227;
}
.back{
    display: inline-block; 
    padding: 9px; 
    background-color: #230cee; 
    color: #fff; 
    text-decoration: none; 
    border-radius: 60px; 
    font-weight: 600;
}
.about{
    text-align: center;
}
p{
    color: #ddd;
}
a{
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    font-size:medium;
}
figcaption{
    color: #0b2e16;
}
.link{
    align-items: center; 
    font-family: monospace; 
    font-size: x-large; 
    font-weight: 1000; color: #0b2e16;
    background: #ffffff00;
    margin:auto;
}
.quick-link{
        background-color:#ece8e8 ;
        max-width: 300px;
        margin:auto;
        flex-grow: 1;
        text-align: center;
}
.quick-link-container{
    display: flex;
    gap: 0;
    background:#fdfdfd ;
}
.quick-card{
    margin: auto;
    padding: 10px;
}
figcaption{
    font-size: smaller;
}