html{
    font-size:90%;
    font-family: Arial, Helvetica, sans-serif
}
#body{
    background-color: #c5e1fcf5;
}
#heading{
    padding: 10px;
    background-color:#111827 ; 
    color: #f0f8ff;
    border-radius: 30px;
    height: 35px;
    transform: translateY(-6px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.35);
}
.moto{
    display: inline-block;
    padding: 10px;
    text-decoration:none;
    border-radius: 36px;
    color: rgb(243, 243, 248);
    background-color: #04066d;
    align-content: center;
    font-style: oblique;
    align-self: center;
    margin-bottom: 5px;
    font-size: large;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.35);
    border: 1px;
}
.c2{
    display: flex;
    /* align-content:flex-start ; */
    width: 100%;
    overflow-x: auto;
    height:400px;
}
.c3{
    display: flex;
    align-content: flex-start;
    
    
}
.c4{
    display: flex;
    align-content: flex-start;
    
}
.cb{
    display: flex;
    justify-content: center;
}
ul{
    display: inline-block;
}
body{
    background-color: #fae9dd;
}
.cc1{
    color: rgb(126, 12, 12);
}
.head{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 768px){
.head{
    text-align: center;
}
}
h1{
    display: inline-block;
    padding: 12px;
    text-decoration: none;
    background-color: #790808;
    color: #f7c079;
    border-radius: 24px;
    text-align: center;
}
h2{
    background-color: rgb(126, 12, 12);
    color: rgb(233, 201, 159);
    text-align: center;
}
.shop{
     background-color: rgb(126, 12, 12);
    color: rgb(233, 201, 159);
}
.section2{
    display: flex;
    width: 100%;
    overflow-x: auto;
}
article{
    padding: 12px;
    border-radius: 30px;
    background-color: #111827;
    color: #f0f8ff;
    margin-right: 3px;
    align-items: stretch;
    flex: 1;
    border-bottom-left-radius: 5px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.35);
}
main{
    background-color: #c9a227;
    }
.navigation{
     background-color: #c9a227;
     text-align: center;
   }
.card{
    display: inline-block; 
    padding: 10px; 
    background-color: #111; 
    color: #fff; 
    text-decoration: none; 
    border-radius: 10px; 
    font-weight: 600;
    border: 1px solid #ddd;
    transform: translateY(-6px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.35);
}
p{
    text-align: center;
}
footer{
    text-align: center;
}
dt{
    text-align: center;
}
nav{
    text-align: center;
}
form{
    text-align: center;
}
textarea{
    resize: none;
    width: auto;
    height: auto;
}
strong{
    font-style: oblique;
    color: #c9a227;
}
.back{
    display: inline-block; 
    padding: 9px; 
    background-color: #230cee; 
    color: #fff; 
    text-decoration: none; 
    border-radius: 60px; 
    font-weight: 600;
}
.about{
    text-align: center;
}
   

