/* Reset CSS by Amaka Ndukwu */

/* making use of :where to allow for low specificity making it easy to override */


/* 1. border-box for box model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. remove default margin 
padding is optional but i do this because of lists*/

:where(:not(dialog)) {
    margin: 0;
    padding: 0;
}


/* 3. great for in-page linking */
@media(prefers-reduced-motion:no-preference) {
    :where(html) {
        scroll-behavior: smooth;
    }
}

/* 4. line height and text rendering improvement */
:where(html) {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/* 5. ensure full viewport height */
:where(html, body) {
    min-block-size: 100%;
}

/* 6. improve line wrapping */
:where(h1, h2, h3,
    h4, h5, h6) {
    text-wrap: balance;
}

:where(p) {
    text-wrap: pretty;
}

:where(figure)>:where(figcaption) {
    text-wrap: balance;
}

:where(p, h1, h2, h3,
    h4, h5, h6) {
    overflow-wrap: break-word;
}



/* 7. making media elements block-level */
:where(img,
    svg,
    video,
    canvas,
    picture,
    audio,
    iframe,
    embed,
    object) {
    display: block
}

:where(img, svg, video, canvas, picture) {
    block-size: auto;
    max-inline-size: 100%;
}

/* 8. inherit font and letter spacing for form controls */
:where(input,
    button,
    textarea,
    select),
:where(input[type=file])::-webkit-file-upload-button {
    font: inherit;
    letter-spacing: inherit
}

/* 9. textarea can only resized vertically and will grow to adjust its content */
:where(textarea) {
    resize: vertical;
   field-sizing: content;
}

/* 10. table */
:where(table) {
    width: fit-content;
    border-collapse: collapse;
}

:where(pre) {
    direction: ltr;
    max-inline-size: max-content;
    min-inline-size: 0;
    white-space: pre;
    writing-mode: lr
}

:where(a[href],
    area,
    button,
    input:not([type=text],
        [type=email],
        [type=number],
        [type=password],
        [type=""],
        [type=tel],
        [type=url]),
    label[for],
    select,
    summary,
    [tabindex]:not([tabindex*="-"],
        pre)) {
    cursor: pointer
}

/*  this will disable additional non-standard gestures such as double-tap to zoom*/
:where(a[href],
    area,
    button,
    input,
    label[for],
    select,
    summary,
    textarea,
    [tabindex]:not([tabindex*="-"])) {
    touch-action: manipulation
}

html{
    font-size:75%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#body{
    background-image:linear-gradient(rgba(0,0,0,05), rgba(0,0,0,0.5)), url(https://media.istockphoto.com/id/2206836726/photo/wide-angle-of-modern-football-stadium-with-glass-roof-bright-stadium-lights-illuminating.jpg?s=1024x1024&w=is&k=20&c=Z6w8r-3Ge0VbbRroOvYdvZaboflWYcMIm2lHG1Ukees=);
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
    height: 100vh;
    font-weight: bolder;
    color: #ddd;
}
#heading{
    padding: 10px; 
    color: #f0f8ff;
    border-radius: 30px;
    height: 35px;
    transform: translateY(-6px);
    background-color: #11182700;
}
.moto{
    display: inline-block;
    padding: 10px;
    text-decoration:none;
    border-radius: 36px;
    color: rgb(243, 243, 248);
    align-content: center;
    font-style: oblique;
    align-self: center;
    margin-bottom: 5px;
    font-size: large;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.35);
    border: 1px;
    background-color: #0f3d1e00;
}
.moto1{
    font-size: x-large;
    font-family:Arial, Helvetica, sans-serif;
    color: #97f707;
    font-weight: bolder;
}
.moto2{
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       font-size: x-large;
       color: #f81616;
       font-weight: bolder;
}

.c3{
    display: flex;
    align-content: flex-start;
    
    
}
.c4{
    display: flex;
    align-content: flex-start;
    
}
.contact{
    display: flex;
    justify-content: center;
}
ul{
    display: inline-block;
}
.cc1{
    color: rgb(126, 12, 12);
}
.head{
    display: flex;
    justify-content: center;
    align-items: center;
}
.head{
    text-align: center;
}
/* @media (max-width: 768px){ */
    .head1{
        display: flex; 
        justify-content: center;
        
    }



article{
    padding: 12px;
    border-radius: 30px;
    color: #f0f8ff;
    margin-right: 3px;
    align-items: stretch;
    flex: 1;
    border-bottom-left-radius: 5px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.35);
    background-color: #0b03531f;
}
.navigation{
     text-align: center;
   }
.card{
    display: inline-block; 
    padding: 10px; 
    color: #fff; 
    text-decoration: none; 
    border-radius: 10px; 
    font-weight: 600;
    font-size: medium;
    transform: translateY(-6px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.35);
}

footer{
    text-align: center;
    clear: both;
    background: linear-gradient(#0f3d1e, #0b2e16);
    font-weight: 1000; 
    font-size: small;
    color: #fdfdfd;
}
dt{
    text-align: center;
}
nav{
    text-align: center;
}
form{
    text-align: center;
}
textarea{
    resize: none;
    width: auto;
    height: auto;
}
strong{
    font-style: oblique;
    color: #c9a227;
}
.back{
    display: inline-block; 
    padding: 9px; 
    background-color: #230cee; 
    color: #fff; 
    text-decoration: none; 
    border-radius: 60px; 
    font-weight: 600;
}
.about{
    text-align: center;
}

a{
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    font-size:medium;
}
.quick-link-caption{
    color: #0b2e16; 
    font-size: smaller;
}
.link{
    align-items: center; 
    font-family: monospace; 
    font-size: x-large; 
    font-weight: 1000; color: #0b2e16;
    background: #ffffff00;
    margin:auto;
}
.quick-link{
        background-color:#ece8e8 ;
        max-width: 300px;
        margin: 40px auto;
        flex-grow: 1;
        text-align: center;
}
.quick-link-container{
    display: flex;
    gap: 0;
    background:#fdfdfd ;
}
.quick-card{
    margin: auto;
    padding: 10px;
}
.quick-card img{
    height: 70px;
}
#main-body{
    background: linear-gradient(#0f3d1e, #0b2e16);
    height: 60vh;
}
/* shop section */
.shop-background{
    background: #949799;
}
.explore{
    padding: 12px;
    text-decoration: none;
    background-color: #790808;
    color: #f7c079;
    border-radius: 24px;
    width: 300px;
    margin: auto;
    text-align: center;

}
h2{
    background-color: #7e0c0c;
    color: rgb(233, 201, 159);
    text-align: center;
}
.shop{
    background-color: rgb(126, 12, 12);
    color: #e9c99f;
    text-align: center;
    margin: auto;
}
.football-section{
    display: flex;
    overflow-x: auto;
    height:400px;
    margin: 10px;
    gap: 2rem;
    flex-wrap: nowrap;
    padding: 20px;
    scroll-behavior: smooth;
}
.football-section img{
    height: 250px;
    width: auto;
    flex: 0 0 auto;
    max-inline-size: none;
}
.need-more{
    margin: auto;
    padding: 9px; 
    background-color:#008000 ; 
    color: #fff; 
    text-decoration: none; 
    border-radius: 60px; 
    font-weight: 600;
    text-align: center;
    width: 200px;
}