body{
    background-color:  #fae9dd;;
}
h1{
    display: block;
    padding: 12px;
    text-decoration: none;
    background-color: #790808;
    color: #f7c079;
    border-radius: 24px;
    align-items: center;
}
h2{
    display: inline-block;
    padding: 12px;
    text-decoration: none;
    background-color: rgb(126, 12, 12);
    color: rgb(233, 201, 159);
    border-radius: 24px;
}
.all{
    display: inline-block;
    padding: 12px;
    text-decoration: none;
    background-color: #790808;
    color: #f7c079;
    border-radius: 24px;
    align-items: center;
}