html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90%;
}
body{
    background-color:  #949799;
}
h1{
    display: block;
    padding: 12px;
    text-decoration: none;
    background-color: #0c0c0c;
    color: #f7c079;
    border-radius: 24px;
    text-align: center;
    font-size: x-large;
}
h2{
    display: inline-block;
    padding: 12px;
    text-decoration: none;
    background-color: rgb(10, 10, 10);
    color: rgb(233, 201, 159);
    border-radius: 24px;
}
.all{
    display: inline-block;
    padding: 12px;
    text-decoration: none;
    background-color: #790808;
    color: #f7c079;
    border-radius: 24px;
    align-items: center;
}
.back{
    display: inline-block; 
    padding: 9px; 
    background-color: #230cee; 
    color: #fff; 
    text-decoration: none; 
    border-radius: 60px; 
    font-weight: 600;
}
.galleryhead{
    text-align: center;
}